// Colors
$color-tomato: hsl(4, 100%, 67%);
$color-dark-slate-grey: hsl(234, 29%, 20%);
$color-charcoal-grey: hsl(235, 18%, 26%);
$color-grey: hsl(231, 7%, 60%);

// Fonts
$font-roboto: 'Roboto', sans-serif;
$font-size-xs: 10px;
$font-size-md: 16px;
$font-size-xl: 30px;
$font-weight-regular: 400;
$font-weight-bold: 700;
